#modify-music {
	background: #FFB4B0;
	border: 2px solid black;
}

#modify-music >ul {
	list-style-type: none;
}

#modify-music >ul >li {
	display: inline;
}

#music-adder {
	background: #4DD7FA;
	display: inline-block;
	margin-top: 10px;
	border: 2px solid black;
}

#music-adder >input {
	display: block;
}

#options1 {
	display: block;
}

#options2 {
	display: block;
	vertical-align: middle;
}

#button {
	text-align: center;
}
	
