#modify-music {
	background: #FFB4B0;
	border: 1px solid black;
}

#modify-music >ul {
	list-style-type: none;
}

#modify-music >ul >li {
	display: inline;
}

#music-adder {
	background: #4DD7FA;
	display: inline-block;
}

#music-adder >input {
	display: block;
}

#additional-options {
	display: inline-block;
	flaot: right;
}
	
