
body {
	background: lightgrey;
}

#musichistory {
	text-align: center;
	font-family: impact;
	font-size: 5em;
}
/*Navigation*/

#modify-music {
	background: white;
	border: 2px solid black;
	width: 99.3%;
	-webkit-box-shadow: 1px 3px 36px 18px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 3px 36px 18px rgba(0,0,0,0.75);
box-shadow: 1px 3px 36px 18px rgba(0,0,0,0.75);
	text-align: center;
}

#modify-music >ul {
	list-style-type: none;
}

#modify-music >ul >li {
	display: inline;
}

#add-song >ul >li {
	lis
}
#modify-music >#add-music >ul >li {
	list-style-type:  none;
	display: inline;
}
/*Music adder div(left)*/
#music-adder {
	float: left;
	background: #4DD7FA;
	display: inline-block;
	margin-top: 10px;
	border: 2px solid black;
	height: 403px;
	width: 19%;
	padding-left: 5px;
	padding-top: 5px;
}

#music-adder >label >.song-length {
	padding-top: -5px;
}

/*#music-adder>input {
	display: block;
}*/

#music1 >#options1 >li{
	list-style-type: none;
	
}

#music2 >#options2 >li{
	list-style-type: none;

}

#music1 {
	margin-left: -15px;
	float: left;
}
#music2 {
	float: left;
}

/*Button*/

#button {
	clear: both;
	text-align: center;
}

#button >#submit {
	width: 100px;
	border: 1px solid black;
}
/*Song display Div(right)*/
#song-display {
	background: #FEFAC0;
	/*height: 408px;*/
	float: left;
	width: 77.5%;
	border: 2px solid black;
	margin-top: 10px;
	margin-left: 6px;
	color: #785616;
	padding-left: 20px;
}

/*#song-display >ul>li {
	display: inline-block;


}*/

.song-name {
	color: #785616;
	padding-left: 140px;
}

/*#add-song {
	display: none;
}*/

.hidden {
	display: none;
}

.visible {
	display: block;
}
.show {
	display: none;
}

