
{{!-- Template for complete song description  --}}
{{#each songs}}
	<div>
		<p class='songp'>
			{{title}} by {{artist}} on the album {{album}}   <button class='delete' id='deletor' text='delete'>X</button>
		</p>
	</div>	
{{/each}}