<div class="">
	{{#each songs}}
		<p class="songp">{{title}} by <span class="temp-artist">{{artist}}</span> on the album <span class="temp-album">{{album}}<span>   <button class='delete' id="deletor" text='Delete'>X</button></p>
	{{/each}}
</div>	